<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test automation regression suite" verbose="1" thread-count="2" parallel="tests">
	<test name="FreshWorks - Chrome test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="webtest.FreshWorksTest" />
		</classes>
	</test>
		
	<test name="FreshWorks - Firefox test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="webtest.FreshWorksTest" />
		</classes>
	</test>
</suite>